@using OnlineShop.Models
@model OnlineShop.Models.SpecialTag
@{
}

<br/>
<br/>
<br/>
<br/>

<h2 class="text-info">Edit Tag </h2>

<div>
    <form asp-action="Edit" method="post">

        <div class="p-4 rounded border">
            <input type="hidden" asp-for="Id"/>
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group row">
                <div class="col-cl-6">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-cl-6">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>


            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Update" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
               
            </div>
        </div>
    </form>
</div>




@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}






