@page
@model OnlineShop.Areas.Identity.Pages.Account.RegisterConfirmationModel

@{
    ViewData["Title"] = "Registration Confirmation";
}

<h3>@ViewData["Title"]</h3>
<p>Please check your email to confirm your registration.</p>
