@page
@model OnlineShop.Areas.Identity.Pages.Account.RegisterConfirmationModel

@{
    ViewData["Title"] = "Registration Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>Please check your email to confirm your registration.</p>
