﻿@using OnlineShop.Models
@model OnlineShop.Models.Order
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order Details";
}
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");

    if (products == null)
    {
        products = new List<Products>();
    }

}


@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    string userId = UserManager.GetUserId(User);
}
﻿@using System.Net.Http
@using OnlineShop.Session
@using Microsoft.AspNetCore.Http




<!--header center area start-->
<div class="header_middle">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo/online-shoping.png" style="height: 50px; width: 60%;" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header_middle_inner">
                    <div class="search-container">
                        <form method="post" action="#">
                            <div class="hover_category">
                                <select class="select_option" name="select" id="categori">
                                    <option selected value="1">All Categories</option>
                                    <option value="2">Accessories</option>
                                    <option value="3">Accessories & More</option>
                                    <option value="4">Butters & Eggs</option>
                                    <option value="5">Camera & Video </option>
                                    <option value="6">Mornitors</option>
                                    <option value="7">Tablets</option>
                                    <option value="8">Laptops</option>
                                    <option value="9">Handbags</option>
                                    <option value="10">Headphone & Speaker</option>
                                    <option value="11">Herbs & botanicals</option>
                                    <option value="12">Vegetables</option>
                                    <option value="13">Shop</option>
                                    <option value="14">Laptops & Desktops</option>
                                    <option value="15">Watchs</option>
                                    <option value="16">Electronic</option>
                                </select>
                            </div>
                            <div class="search_box">
                                <input placeholder="Search product..." type="text" name="SearchString">
                                <button type="submit"><i class="zmdi zmdi-search"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--header center area end-->
<!--header middel start-->
<div class="header_bottom sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="main_menu header_position">
                    <nav>
                        <ul>

                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="zmdi zmdi-home"></i> home <i class="zmdi zmdi-caret-down"></i></a>

                            </li>
                            <li class="mega_items active">
                                <a href="shop.html"><i class="zmdi zmdi-shopping-basket"></i> shop <i class="zmdi zmdi-caret-down"></i></a>
                                <div class="mega_menu">
                                    <ul class="mega_menu_inner">
                                        <li>
                                            <a href="#">Shop Layouts</a>
                                            <ul>
                                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                                <li><a href="shop-list.html">List View</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">other Pages</a>
                                            <ul>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="my-account.html">my account</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Product Types</a>
                                            <ul>
                                                <li><a href="product-details.html">product details</a></li>
                                                <li><a href="product-sidebar.html">product sidebar</a></li>
                                                <li><a href="product-grouped.html">product grouped</a></li>
                                                <li><a href="variable-product.html">product variable</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="blog.html"><i class="zmdi zmdi-collection-music"></i> blog <i class="zmdi zmdi-caret-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-star"></i> pages <i class="zmdi zmdi-caret-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="portfolio.html">portfolio</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li>

                            <li><a href="about.html"><i class="zmdi zmdi-comments"></i> about Us</a></li>
                            <li><a href="contact.html"><i class="zmdi zmdi-account-box-mail"></i>  Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header middel end-->
<!--header area end-->
<!--Offcanvas menu area start-->

<div class="off_canvars_overlay">
</div>


<!--Offcanvas menu area start-->
<div class="off_canvars_overlay"></div>
<div class="Offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <span>MENU</span>
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="Offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)">
                            <i class="ion-android-close"></i>
                        </a>
                    </div>
                    <div class="welcome_text">
                        <p>Welcome to <span> OnlineShop</span></p>
                    </div>
                    <div class="top_right">
                        <ul>
                            <li class="language">
                                <a href="#">
                                    <i class="zmdi zmdi-dribbble"></i> English1
                                    <i class="zmdi zmdi-caret-down"></i>
                                </a>
                                <ul class="dropdown_language">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Bangla</a></li>
                                </ul>
                            </li>
                            @if (userId != null)
                            {
                                <li class="top_links">
                                    <a href="/Customer/UserProfile/Deshboard/@userId"><i class="zmdi zmdi-account"></i> My account <i class="zmdi zmdi-caret-down"></i></a>
                                    <ul class="dropdown_links">

                                        <li><a href="/Customer/UserProfile/Deshboard/@userId">My Account </a></li>
                                        <li> <a asp-area="Customer" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                                <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                            }
                        </ul>
                    </div>
                    <div class="search-container">
                        <form method="post" action="#">
                            <div class="hover_category">
                                <select class="select_option" name="select" id="categori2">
                                    <option value="1">Laptops</option>

                                    <option value="2">Vegetables</option>

                                    <option value="3">Laptops & Desktops</option>

                                </select>
                            </div>
                            <div class="search_box">
                                <input placeholder="Search product..." name="SearchString" type="text" />
                                <button type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="mini_cart_wrapper">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart"></i>  Cart</a>
                    </div>
                    <div id="menu" class="text-left">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children">
                                <a asp-area="" asp-controller="Home" asp-action="Products">Shop</a>
                                <ul class="sub-menu">

                                    @if (userId != null)
                                    {
                                        <li class="menu-item-has-children">
                                            <a href="#">other Pages</a>
                                            <ul class="sub-menu">
                                                <li> <a asp-area="Customer" asp-controller="Home" asp-action="Cart"><i class="fas fa-shopping-cart"></i>  Cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>

                                                <li><a href="/Customer/UserProfile/Deshboard/@userId">My Account </a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </li>
                                    }
                                    <li class="menu-item-has-children">
                                        <a href="#">Product Types</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="product-details.html">product details</a>
                                            </li>
                                            <li>
                                                <a href="product-sidebar.html">product sidebar</a>
                                            </li>
                                            <li>
                                                <a href="product-grouped.html">product grouped</a>
                                            </li>
                                            <li>
                                                <a href="variable-product.html">product variable</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">pages </a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="portfolio.html">portfolio</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>

                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                @if (userId != null)
                                {
                                    <a href="/Customer/UserProfile/Deshboard/@userId">my account</a>
                                }
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">about Us</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="contact.html"> Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Offcanvas menu area end-->

<!--Checkout page section-->
<div class="Checkout_section mt-10">
    <div class="container">

        <form asp-action="Checkout" method="post" enctype="multipart/form-data">


            <div asp-validation-summary="ModelOnly" class="text-danger"> </div>


            <div class="checkout_form">

  
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <h3>Billing Details</h3>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-lg-10">
                                <input type="hidden" asp-for="Id" />
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label asp-for="PhoneNo"></label>
                            </div>
                            <div class="col-lg-10">
                                <input asp-for="PhoneNo" class="form-control" />
                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label asp-for="Address"></label>
                            </div>
                            <div class="col-lg-10">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label asp-for="Email"></label>
                            </div>
                            <div class="col-lg-10">

                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                        </div>

                        <br />
                        <br />

                        <div class="form-group row  order-notes">
                            <div class="col-lg-3">
                                <label for="order_note">Order Notes</label>
                            </div>
                            <div class="col-lg-10">
                                <textarea id="order_note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                            </div>

                        </div>

                    </div>




                    <div class="col-lg-6 col-md-8">

                        <h3>Your order</h3>
                        <div class="order_table table-responsive">


                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in products)
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/@item.Image" style="height:100px; width:100px" />
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.Price</td>
                                            <td>@item.QuantityInCart</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>



                        </div>

                    </div>

                    <div class="row  mt-10 text-center">
                        <div class="col-lg-4 md-8"></div>
                        <div class="col-lg-4 md-8">

                            <div>
                                <h4>Total Price : @products.Sum(c => c.Price * c.QuantityInCart) Tk</h4>
                            </div>
                            <div >
                                <input type="submit" value="Place Order" class="btn btn-info" style="background:-o-linear-gradient(6)" />
                            </div>

                        </div>
                        <div class="col-lg-4 md-8"></div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<!--Checkout page section end-->
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#OrderDate").datepicker({
                showAnim: "slide",
                changeMonth: true,
                changeYear: true
            });
        });

        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });

        function handlePaymentMethodChange() {
            var paymentMethod = document.getElementById("paymentMethod").value;
            var paymentFields = document.getElementById("paymentFields");
            var paymentButton = document.getElementById("paymentButton");

            if (paymentMethod === "Card" || paymentMethod === "MobileBanking") {
                paymentFields.style.display = "block";
                paymentButton.style.display = "block";
            } else {
                paymentFields.style.display = "none";
                paymentButton.style.display = "none";
            }
        }

        handlePaymentMethodChange();

    </script>

}



