@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<form method="post" action="CreatePayment">
    <!-- Form fields -->
    <div>
        <label for="name">Amount:</label>
        <input type="text" id="amount" name="amount" value="" />
    </div>

    <!-- Submit button -->
    <button type="submit">Payment</button>
</form>
