@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>This is Index page </h2>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
   
    <script type="text/javascript">


        $(document).ready(function () {
            $('#myTable').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
                        ]

            });

            $(function () {
                var save = '@TempData["save"]'
                if (save != '') {
                    alertify.success(save);
                }
                var edit = '@TempData["edit"]'
                if (edit != '') {
                    alertify.success(edit);
                }
                var del = '@TempData["delete"]'
                if (del != '') {
                    alertify.error(del);
                }
            })
    </script>
}