<h4>ConfirmEmail</h4>

    <div class="alert alert-success" role="alert">
        <p>Your email has been verified successfully.</p>
    </div>

<p>
  Now   you can login     <a asp-area="Identity" class="btn btn-success" asp-page="/Account/Login">Login</a>
</p>
